/*************************************************
                      GENERAL
*************************************************/

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Merriweather', serif;
  color: #888;
}

.title {
  font-size: 1.1em;
  margin-bottom: 5px;
  text-transform: uppercase;
}

hr {
  background-color: rgba(87, 71, 150, 0.7);
  color: rgba(87, 71, 150, 0.7);
  width: 30px;
  height: 3px;
  border: none;
  margin: 20px auto 40px;
}

/*************************************************
                      NAV
*************************************************/
.navbar-default {
  background: white;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-transform: uppercase;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-default .navbar-brand img,
.navbar-default .navbar-brand:focus img,
.navbar-default .navbar-brand:hover img {
  width: 300px;
}

.navbar-default .navbar-nav>li>a {
  color: rgb(121, 121, 121);
  font-size: 0.9em;
  margin-left: 20px;
  padding: 40px 10px;
  background: white;
  letter-spacing: 1px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover  {
  color: #6B4C93;
  background: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: white;
  background-color: #6B4C93;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: -1px;
  border-top: none;
}

.dropdown-menu>li>a,
.dropdown-menu>li>a:hover {
  color: #6B4C93;
  font-size: 0.9em;
  letter-spacing: 1px;
}

/*************************************************
                    JUMBOTRON
*************************************************/

.jumbotron {
  background: url(images/upcoming-shows-background.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.dark-background {
  padding: 0;
  margin: 0;
  height: 500px;
  background: rgba(0,0,0,0.4)
}

.jumbotron h1 {
  font-size: 3em;
  padding-top: 180px;
  text-transform: uppercase;
}

.jumbotron h3 {
  font-size: 1.2em;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.7;
}

/*************************************************
                    SHOWS
*************************************************/

.maps img {
  width: 100%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3),
               4px 4px 13px rgba(0, 0, 0, 0.1),
               9px 9px 23px rgba(0, 0, 0, 0.1);}

.maps {
  text-align: center;
}

.maps p {
  margin-top: 10px;
}

.content {
  margin-top: 50px;
}

.show {
  margin: 100px 0;
}

.show button {
  background-color: #6B4C93;
  width: 150px;
  height: 45px;
  font-size: 1.1em;
  color: white;
  margin-top: 30px;
  border: 1px solid white;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.show button:hover {
  background: white;
  color: #6B4C93;
  border: 1px solid #6B4C93;
}

.show-right {
  text-align: right;
}

.show-right hr {
  float: right
}

.show-right .bio p {
  clear: both;
  /*text-align: justify;*/
}

.show h2 {
  margin-bottom: 10px;
  margin-top: 0;
  color: #444;
  font-size: 1.8em;
  text-transform: uppercase;
}

.show hr {
  color: rgba(87, 71, 150, 0.7);
  height: 2px;
  width: 230px;
  border: none;
  margin: 0 0 30px 0;
}

.show p {
  font-size: 1em;
}

/*************************************************
                    FOOTER
*************************************************/

.footer {
  padding: 20px 0;
  border-top: 1px solid #ddd;
  margin-top: 50px;
}

.footer h4 {
  text-transform: uppercase;
  font-size: 1em;
}

.footer hr {
  width: 100%;
  height: 1px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
}

.main-menu ul{
  padding: 0;
  list-style: none;
}

.main-menu ul li {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 0.9em;
}

.main-menu ul li a {
  text-decoration: none;
  color: inherit;
}

.main-menu ul li a:hover {
  text-decoration: underline;
}

.form-group label {
  display: none;
}

.form-group input,
.form-group textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.form-group textarea {
  height: 80px;
}

.form-group .btn-default {
  width: 30%;
}

.form-group .btn-default:hover {
  background: rgba(87, 71, 150, 0.3);
}

.social {
  color: #6B4C93;
  text-align: center;
}

.social a {
  color: inherit;
}

.social span {
  font-size: 2em;
  margin: 5px;
}

.copyright {
  text-align: center;
  background-color: #6B4C93;
  color: #fff;
  margin: 0;
  padding: 5px;
}

.copyright p {
  font-size: 0.9em;
  margin-top: 7px;
}




/************************************************************************
                            MEDIA QUERIES
************************************************************************/

@media only screen and (max-width: 1199px) {

  .navbar-default .navbar-brand img,
  .navbar-default .navbar-brand:focus img,
  .navbar-default .navbar-brand:hover img {
    width: 250px;
  }

}

@media only screen and (max-width: 991px) {

}

@media only screen and (max-width: 767px) {

}

/*purple
color: #6B4C93;
*/
